<div class="finance-home">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.gt-sm="33%">
      <mat-card>
        <div class="info-profile">
          <div class="info-profile-content">
            <p>Boa noite, <span class="info-profile-name">Wender</span></p>
          </div>

          <div class="icon-profile">
            <img
              class="icon-profile-img"
              src="../../../assets/img/icons/night-svgrepo-com.svg"
              alt=""
            />
          </div>
        </div>

        <div class="info-profile-balance">
          <mat-card class="mat-elevation-z8">
            <p>receita mensal</p>
            <p class="info-balance-value accent-color">R$ 278,00</p>
          </mat-card>

          <mat-card class="mat-elevation-z8">
            <p>despesa mensal</p>
            <p class="info-balance-value warn-color">R$ 278,00</p>
          </mat-card>
        </div>
      </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.gt-sm="33%">
      <mat-card>
        <div class="info-balance">
          <div class="info-balance-content">
            <p>Saldo geral</p>
          </div>

          <div class="balance-total">
            <p>R$ <span class="balance-value"> 1.258,00</span></p>
          </div>

          <div class="icon-balance">
            <button mat-mini-fab>
              <i class="material-icons">visibility_off</i>
            </button>
          </div>
        </div>

        <div class="info-balance-total">
          <mat-card class="mat-elevation-z8">
            <button mat-button>
              <i class="material-icons icon-nav" color="accent">query_stats</i>
              relatórios
            </button>
          </mat-card>

          <mat-card class="mat-elevation-z8">
            <button mat-button>
              <i class="material-icons">account_balance</i>
              contas
            </button>
          </mat-card>
        </div>
      </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.gt-sm="33%">
      <mat-card>
        <div class="fast-access">
          <div class="fast-access-content">
            <p>Acesso Rápido</p>
          </div>

          <div class="fast-access-buttons">
            <div class="button-container d-flex-c">
              <button mat-mini-fab color="warn" class="mat-elevation-z8">
                <i class="material-icons" color="accent">remove</i>
              </button>
              <p class="mt-12">Despesa</p>
            </div>

            <div class="button-container d-flex-c">
              <button mat-mini-fab color="accent" class="mat-elevation-z8">
                <i class="material-icons" color="accent">add</i>
              </button>
              <p class="mt-12">Receita</p>
            </div>

            <div class="button-container d-flex-c">
              <button mat-mini-fab color="primary" class="mat-elevation-z8">
                <i class="material-icons" color="accent">multiple_stop</i>
              </button>
              <p class="mt-12">Transf.</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
