<mat-toolbar>
  <button mat-icon-button class="toolbar-home-icon" aria-label="toolbar-home icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="toolbar-home-spacer"></span>
  <button mat-icon-button class="toolbar-home-icon favorite-icon" aria-label="toolbar-home icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-home-icon" aria-label="toolbar-home icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
