<mat-card id="finance-accounts-card">
  <mat-card-title>
    <h3>Contas e carteiras</h3>
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.gt-sm="33%"
        *ngFor="let num of [1, 2, 3]"
      >
        <mat-card class="account-card mat-elevation-z8">
          <div class="icon-account">
            <img
              class="icon-account-img"
              src="../../../assets/img/accounts_logo/nuconta.png"
              alt=""
            />
          </div>
          <span class="balance accent-color">R$ 0,00</span>
          <span class="account-name">IQ Option</span>
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.gt-sm="33">
        <mat-card class="account-card account-card-default">
          <button mat-button color="basic">
            <i class="material-icons icon-nav">add</i> Nova conta
          </button>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
