<mat-card id="finance-accounts-card">


  <mat-toolbar class="accounts-toolbar">
    <span>Contas e carteiras</span>
  </mat-toolbar>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.gt-sm="33%"
        *ngFor="let num of [1, 2, 3]"
      >
        <mat-card class="account-card mat-elevation-z8">
          <div class="account-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Ver lançamentos</span>
              </button>
              <button mat-menu-item>
                <span>Editar</span>
              </button>
              <button mat-menu-item>
                <span>Excluir</span>
              </button>
            </mat-menu>
          </div>
          <div class="icon-account">
            <img
              class="icon-account-img"
              src="../../../assets/img/accounts_logo/nuconta.png"
              alt=""
            />
          </div>
          <span class="balance accent-color">R$ 1.058,00</span>
          <span class="account-name">IQ Option</span>

          <mat-card-actions>
            <button mat-button>Detalhes da conta</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.gt-sm="33">
        <mat-card class="account-card account-card-default">
          <button mat-button color="basic">
            <i class="material-icons icon-nav">add</i> Nova conta
          </button>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
